body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 0 auto;
}

.navbar{
    background-color: #1A0B2E;
    height: 92px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo{
    margin-left: 100px;
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
}

.logo .color-purple{
    color: #9100F8
}

.nav-list{
    display: flex;
    justify-content: space-around;
    margin: 37px 314px;
    gap: 32px;
    list-style: none;
}

a{
    color:#FFFFFF;
    width: 218px;
    height: 19px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.nav-right{
    width: 135px;
    height: 44px;
    padding: 20px 100px;
    align-items: center;
}

.nav-right .btn{
    background-color:fuchsia;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 40px 16px;
    border-radius: 10000px;
}