body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 0 auto;
}

.navbar{
    background-color: #1A0B2E;
    height: 92px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo{
    margin-left: 100px;
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
}

.logo .color-purple{
    color: fuchsia;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    margin: 37px 314px;
    gap: 32px;
    list-style: none;
}

a{
    color:#FFFFFF;
    width: 218px;
    height: 19px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.nav-right{
    width: 135px;
    height: 44px;
    padding: 20px 100px;
    align-items: center;
}

.nav-right .btn{
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 40px 16px;
    border-radius: 10000px;
    cursor: pointer;
}

.hero-container{
    text-align: center;
    background-image: url("./assets/hero-bg.png"); 
    background-size: cover;              
    background-position: center;
}

.hero-content{
    background-color: #1A0B2E;
    max-width: 100%;
    height: 500px;
    width: 400px;
    position: absolute;
    top: 0;
    margin-top: 150px;
    padding: 101px 525px;
    text-align: center;
}

.hero-content h3{
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.hero-content p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.hero-content .btn-2{
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 10000px;
    cursor: pointer;
}

.hero-content .btn-3{
    background: transparent;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 10000px;
    cursor: pointer;
}

.about-section{
    background-color: #1A0B2E;
}

.about-section .about-info{
    width: 1000px;
    height: 200;
    padding: 50px 200px ;
    text-align: center;
}

.about-section .about-info h4{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about-section .about-info p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
}

.about-section .about-card{
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.about-section .about-card .card-info{
    width: 240px;
    padding: 30px 60px;
}

.about-section .about-card .card-info h4{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}

.about-section .about-card .card-info p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
}

.why-choose-container{
    background-color: #230E3D;
}

.why-choose-container header{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}

.why-choose-container .why-choose-card{
    padding: 40px 150px 70px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 80px 30px; 
}

.why-choose-container .why-choose-card .cards-1{
    grid-row: span 2;
}

.why-choose-container .why-choose-card .cards-2 .cards-3{
    grid-column: san 2;
}

.why-choose-container .why-choose-card .cards-4{
    grid-row: span 1;
}

.why-choose-container 
.why-choose-card 
.cards-1,
.cards-2,
.cards-3,
.cards-4,
.cards-5{
    background-color: rgba(53, 17, 101, 0.4);
    gap: 30px;
    padding: 40px;
    border-radius: 40px;
}

.why-choose-container .why-choose-card h4{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}

.why-choose-container .why-choose-card p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
}

.featured-episode-section{
    background-color: #1A0B2E;
}

.featured-episode-section .episode-info{
    max-width: 100%;
    padding: 40px 150px 70px;
    gap: 30px;
    display: flex;
    justify-content: space-around;
}

.featured-episode-section header{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}

.featured-episode-section .episode-info .videos{
    background-color: #250D44;
    
}

.featured-episode-section .videos h4{
    font-size: 24px;
    font-weight: 700;
    padding: 12px 24px;
    color: #FFFFFF; 
}

.featured-episode-section .videos p{
    font-size: 16px;
    font-weight: 400;
    padding: 12px 24px;
    color: #FFFFFF;
    line-height: 20px;
}

.featured-episode-section .videos img{
    padding: 12px 24px;
}

.featured-episode-section .videos span{
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;  
}

.featured-episode-section .meet-the-host{
    padding: 50px 150px;
}

.featured-episode-section .meet-the-host .host-info{
    background-color: #351165;
    border-radius: 40px;
    text-align: center;
    display: flex;
}

.featured-episode-section .meet-the-host .host-info img{
    padding: 40px 24px 40px 40px;
}

.featured-episode-section .meet-the-host h3{
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
}

.featured-episode-section .meet-the-host p{
    font-size: 16px;
    font-weight: 400;
    padding: 12px 24px;
    color: #FFFFFF;
    line-height: 20px;
}

.featured-episode-section .meet-the-host .host-details{
    background-color: #351165;
    border-radius: 40px;
    padding: 48px 40px 24px;
}

.featured-episode-section .meet-the-host .host-icons{
    align-items: flex-start;
    gap: 8px;
}

footer{
    text-align: center;
    background-image: url("assets/footer-bg.png"); 
    background-size: cover;              
    background-position: center;
}

footer .footer-info{
    padding: 120px;
}

footer .footer-logo{
    font-size: 48px;
    font-weight: 900;
    color: #FFFFFF;
}

footer .footer-color{
    color: fuchsia;
}

footer .footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}

footer .footer-icons p{
    font-size: 16px;
    color: #FFFFFF;
}

footer .footer-info .copyright{
    font-size: 16px;
    color: #FFFFFF;
}
