body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 0 auto;
}

.navbar{
    background-color: #1A0B2E;
    height: 92px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo{
    margin-left: 100px;
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
}

.logo .color-purple{
    color: fuchsia;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    margin: 37px 314px;
    gap: 32px;
    list-style: none;
}

a{
    color:#FFFFFF;
    width: 218px;
    height: 19px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.nav-right{
    width: 135px;
    height: 44px;
    padding: 20px 100px;
    align-items: center;
}

.nav-right .btn{
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 40px 16px;
    border-radius: 10000px;
    cursor: pointer;
}

.hero-container .bg-image{
    max-width: 100%;
}

.hero-content{
    max-width: 100%;
    height: 500px;
    width: 400px;
    position: absolute;
    top: 0;
    margin-top: 150px;
    padding: 101px 525px;
    text-align: center;
}

.hero-content h1{
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.hero-content p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.hero-content .btn-2{
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 10000px;
    cursor: pointer;
}

.hero-content .btn-3{
    background: transparent;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 10000px;
    cursor: pointer;
}